<app-top-nav></app-top-nav>

<div class="credits">
  <h1 class="credits__h1">credits</h1>
  <div class="credits__box--1">
    <ul class="credits__list">
      <li class="credits__item--heading">
        <strong> technical reviewers </strong>
      </li>
      <li class="credits__item">isaac newton</li>
      <li class="credits__item">george praise</li>
      <li class="credits__item">ufuoma igho</li>
      <li class="credits__item">sunday akpebe</li>
      <li class="credits__item">kelvin okpo</li>
      <li class="credits__item">glory Oyinborode</li>
      <li class="credits__item">john ade</li>
    </ul>
  </div>

  <div class="credits__box--2">
    <ul class="credits__list">
      <li class="credits__item--heading"><strong>cover design</strong></li>
      <li class="credits__item">kenneth o. jimmy</li>
    </ul>
  </div>

  <div class="credits__box--3">
    <ul class="credits__list">
      <li class="credits__item--heading"><strong>authors</strong></li>
      <li class="credits__item">kenneth o. jimmy</li>
      <li class="credits__item">glory Oyinborode</li>
    </ul>
  </div>

  <div class="credits__box--4">
    <ul class="credits__list">
      <li class="credits__item--heading"><strong>design and layout</strong></li>
      <li class="credits__item">kenneth o. jimmy</li>
      <li class="credits__item">
        HTML & CSS <span>design and build websites</span>
      </li>
    </ul>
  </div>

  <div class="credits__box--5">
    <ul class="credits__list">
      <li class="credits__item--heading"><strong>photography</strong></li>
      <li class="credits__item">shutterstock.com</li>
      <li class="credits__item">
        pixabay.com
      </li>
      <li class="credits__item">cleanpng.com</li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
