<div class="wrapper">
  <aside class="aside">
    <app-side-nav></app-side-nav>
  </aside>
  <main class="main">
    <app-top-nav></app-top-nav>
    <div class="floating-button">
      <app-button-nav></app-button-nav>
      <app-go-to-top></app-go-to-top>
    </div>
    <section>
      <app-chapter1></app-chapter1>
    </section>
    <section>
      <app-chapter2></app-chapter2>
    </section>
    <section>
      <app-chapter3></app-chapter3>
    </section>
    <section>
      <app-chapter4></app-chapter4>
    </section>
    <section>
      <app-chapter5></app-chapter5>
    </section>
    <section>
      <app-chapter6></app-chapter6>
    </section>

    <app-footer></app-footer>
  </main>
</div>
