<!-- Content; Chapter 3 - headings, paragraphs, images, etc -->

<div class="chapter">
  <div class="chapter__number" id="chapter-3">chapter 3</div>
  <div class="chapter__title">accent</div>
</div>
<div class="content">
  <div class="content__section">
    <h1 class="content__h1-onColorWhite" id="what-is-an-accent">
      WHAT IS AN ACCENT?
    </h1>
    <p class="content__par">
      An accent is a <b>manner of pronunciation</b> peculiar to a particular
      individual, location or nation. It is the way of pronouncing a language.
    </p>
    <p class="content__par">
      Every region and social group have its accent used across the world.
      Speakers from different regions in a country might have different accent
      for the same language.
    </p>
    <p class="content__par">
      Native language speaker’s accent is different from the foreign language
      speaker, so, every foreign language learner needs to focus on the accent
      of the native language speaker to understand him.
    </p>
    <p class="content__par">
      The British isle consists of different accents.
    </p>
    <img
      src="../../assets/images/menConversation.png"
      alt="men having a conversation"
      class="content__img"
    />
    <p class="content__par">
      The British isle consists of different accents.
    </p>
  </div>
  <div class="content__section">
    <h1
      class="content__h1-onColorWhite"
      id="the-different-types-of-british-accent"
    >
      THE DIFFERENT TYPES OF BRITISH ACCENT
    </h1>
    <p class="content__par">
      When you think of the British, you imagine poise, sophistication, and
      royalty. You can associate English movies that you are accustomed to, men
      who are impeccably, well–mannered with high grant’s posh accent and the
      easily comprehensive Queen’s English. In fact, you are not wrong in
      recalling the English movie, ‘My fair lady’, by Professor Henry Higgins,
      who always enunciates his words.
    </p>
    <p class="content__par">The different accents are listed below:</p>
    <h2 class="content__h2">GEORDIE</h2>
    <p class="content__h2--par">
      Geordie normally refers to both the people and dialect of
      Newcastle-Upon-Tyne in Northeast England. It is one of the oldest and
      best-loved British dialects, but it is slowly dying off.
    </p>
    <h2 class="content__h2">SCOTTISH ENGLISH</h2>
    <p class="content__h2--par">
      Scots roll their sound of letter ‘r’ regularly and break their words so
      that they sound like they have been cut off in the middle. For instance,
      ‘cot’ instead of ‘caught’ and ‘not’ with ‘nee’. So instead of saying you
      ‘didn’t do anything in Edinburgh’, it sounds more like ‘didnee do anythin’
      in Ednbrah.’
    </p>
    <h2 class="content__h2">ESTUARY ENGLISH (SOUTHEAST BRITISH)</h2>
    <p class="content__h2--par">
      This accent can be heard around Southeast England, East Anglia, the
      Midlands, and North. It is slightly similar to General American in the US.
    </p>
    <h2 class="content__h2">COCKNEY</h2>
    <p class="content__h2--par">
      Commonly spoken in the East End of London is the cockney accent. It is
      typically associated with working class citizens.
    </p>
    <h2 class="content__h2">WEST COUNTRY (SOUTHWEST BRITISH)</h2>
    <p class="content__h2--par">
      The West Country accent can be heard in the South of England, just about
      fifty miles West of London and extending to the Welsh border. Often, the
      letter ‘r’ is pronounced after vowels. Instead of saying mother as
      ‘muthah’, someone from the Southwest would say ‘mutherrr’.
    </p>
    <h2 class="content__h2">MIDLANDS ENGLISH</h2>
    <p class="content__h2--par">
      The most famous is the Brummie English. This accent has made headlines
      claiming to baffle a computer software. Callers to the Birmingham City
      Council have been left frustrated because the authority’s computerized
      phone system cannot understand the Brummie accent.
    </p>
    <h2 class="content__h2">WELSH ENGLISH</h2>
    <p class="content__h2--par">
      The accent is heavily influenced by the Welsh language. Although a survey
      has shown that some Welsh feel that their accent may prove to be a
      hindrance to their career, others remain proud and describe the accent as
      melodious and lilting.
    </p>
    <h2 class="content__h2">QUEEN’S ACCENT</h2>
    <p class="content__h2--par">
      When people talk about learning British pronunciation, they usually think
      of Received Pronunciation (RP) which can also be called the Queen’s
      English, standard English, BBC English, Posh accent, Oxford English etc.
      This is the pronunciation you will learn at the British language school.
      The Received Pronunciation (RP) is a non-rhotic English, which means that
      the letter ‘r’ is usually silent at the end of words, unlike the American
      English. In the RP, letter ‘r’ is mostly sounded at the beginning of
      words. It can only make it sound when it is followed by a vowel (This is
      called linking r).
    </p>
    <br />
    <br />
    <p class="content__par">
      To be able to speak using a posh accent, we need to neutralize our accent
      by avoiding mother tongue interference in our English pronunciation. This
      requires much effort.
    </p>

    <img
      src="../../assets/images/mrBean.png"
      alt="mr bean"
      class="content__img"
    />
  </div>
  <div class="content__section--green">
    <h1 class="content__h1-onColorGreen" id="accent-neutralization">
      ACCENT NEUTRALIZATION
    </h1>
    <p class="content__par">
      Accent neutralization which is also known as accent reduction, is an
      approach for learning or adopting a new speech accent. It is the process
      of learning the sound system–which is the English Phonology and the
      melodic intonation of a language in order to communicate with clarity and
      be understood by everybody.
    </p>
    <p class="content__par">
      Improving one’s accent is not a simple task. To have a good accent, you
      need training and regular practice of the vowels and consonants, have
      correct intonation and pronunciation.
    </p>
  </div>
  <div class="content__section--green">
    <h1 class="content__h1-onColorGreen" id="ways-to-improve-your-accent">
      WAYS TO IMPROVE YOUR ACCENT
    </h1>
    <ul class="ul-whiteBg">
      <li class="ul-whiteBg__li">
        Listen to the audio reading of an accent you want to imitate.
      </li>
      <li class="ul-whiteBg__li">
        Use Dictionary to check the correct pronunciation of words. There are so
        many dictionaries online. Make use of it to get the correct
        pronunciation of any word.
      </li>
      <li class="ul-whiteBg__li">Work on your intonation.</li>
      <li class="ul-whiteBg__li">Practice everything you learn.</li>
      <li class="ul-whiteBg__li">Have confidence in yourself.</li>
    </ul>
  </div>
</div>
