<!-- Content; Chapter 5 - headings, paragraphs, images, etc -->

<div class="wrapper">
  <aside class="aside">
    <app-side-nav></app-side-nav>
  </aside>
  <main class="main">
    <app-top-nav></app-top-nav>
    <div class="chapter">
      <div class="chapter__number">chapter 5</div>
      <div class="chapter__title">syllables, stress & intonation</div>
    </div>
    <div class="content">
      <div class="content__section">
        <h1 class="content__h1-onColorWhite">SYLLABLES</h1>
        <p class="content__par">
          When we speak, we produce vowels and consonants which are individually
          contrastive sound units of the language. Since speech is a continuous
          activity, a speaker produces
          <b>chains of vowels and consonants</b> which may be combined to form a
          large unit called syllable.
        </p>
        <p class="content__par">
          A syllable is, therefore, defined as the smallest unit of a word.
          Every syllable must contain a vowel or the semi-vowel which is letter
          “y”. A word without a vowel or the semi-vowel cannot form a syllable.
        </p>
        <p class="content__par">
          An English syllable may have three parts which are the onset, the peak
          (nucleus) and the coda. The initial consonant in a word is called the
          “onset”. The “peak” is the vowel and every syllable must have a vowel
          even if it does not have an onset. While the “coda” is the final
          consonant.
        </p>
        <p class="content__par">
          Example of words with onset, peak and coda are
          <i>get, Ben, fan</i> etc.
        </p>
        <p class="content__par">
          Words with the peak only are <i>a, awe</i> etc.
        </p>
        <p class="content__par">
          Words with peak and coda are <i>all, on, ought</i> etc.
        </p>
        <p class="content__par">Syllables can be divided into:</p>
        <ul class="ul-whiteBg">
          <li class="ul-whiteBg__li">
            Monosyllabic words: Words with one syllable, for example,
            <i>knife, pay, go.</i> Monosyllabic words cannot be divided.
          </li>
          <li class="ul-whiteBg__li">
            Disyllabic words are words with two syllables. Example:
            <i>mis-take, fan-ta, ga-ther.</i>
          </li>
          <li class="ul-whiteBg__li">
            Trisyllabic words: Trisyllabic words with three syllables words.
            Example: <i>lo-ca-tion, he-ri-tage, e-di-tion.</i>
          </li>
          <li class="ul-whiteBg__li">
            Polysyllabic words are words with four or more syllables. Example:
            <i>Com-mu-ni-ca-tion, mis-ma-nage-ment.</i>
          </li>
        </ul>
      </div>
      <div class="content__section">
        <h1 class="content__h1-onColorWhite">
          CORRECT PRONUNCIATION OF PLURAL MARKERS
        </h1>
        <p class="content__par">
          In writing, the plural of regular nouns is usually expressed by adding
          “s,” but the plural marker may be pronounced as /s/, /z/ or /iz/.
        </p>
        <p class="content__par">
          To know how to pronounce the plural of words correctly, you need to
          know the rules guiding each pronunciation and when to pronounce a
          plural word as /s/, /z/ or /iz/.
        </p>
        <ul class="ul-whiteBg">
          <li class="ul-whiteBg__li">
            <span style="color: #a86551"> <b>Rule One</b> </span>
          </li>
          <p class="content__par">
            The plural element is pronounced as /s/ if the sound preceding the
            plural element is /p, t, k, f, θ/
          </p>
          <p class="content__par">Example:</p>
        </ul>
        <div class="simple-table">
          <div class="simple-table__cell">
            <div class="simple-table__cell--header"><b>Singular</b></div>
            <div>mat</div>
            <div>pop</div>
            <div>path</div>
            <div>pot</div>
          </div>
          <div class="simple-table__cell">
            <div class="simple-table__cell--header">
              <b>Plural</b>
            </div>
            <div>mats /mæts/</div>
            <div>pops /pɒps/</div>
            <div>paths /pæθs/</div>
            <div>pots /pɒts/</div>
          </div>
        </div>
        <ul class="ul-whiteBg">
          <li class="ul-whiteBg__li">
            <span style="color: #a86551"> <b>Rule Two</b> </span>
          </li>
          <p class="content__par">
            The plural element is pronounced as /z/ if the sound preceding the
            plural element is a vowel or any of the voiced consonants /b, d, g,
            v, j, l, m, n, ŋ, ð/
          </p>
          <p class="content__par">Example:</p>
        </ul>
        <div class="simple-table">
          <div class="simple-table__cell">
            <div class="simple-table__cell--header"><b>Singular</b></div>
            <div>spoon</div>
            <div>glove</div>
            <div>dog</div>
            <div>pool</div>
          </div>
          <div class="simple-table__cell">
            <div class="simple-table__cell--header">
              <b>Plural</b>
            </div>
            <div>spoons /spu:nz/</div>
            <div>gloves /glʌvz/</div>
            <div>dogs /dɒgz/</div>
            <div>pools /pu:lz/</div>
          </div>
        </div>
        <ul class="ul-whiteBg">
          <li class="ul-whiteBg__li">
            <span style="color: #a86551"> <b>Rule Three</b> </span>
          </li>
          <p class="content__par">
            The plural element is pronounced as /ɪz/ if the sound preceding the
            element is any of the consonants /s, z, ʃ, tʃ, dʒ/.
          </p>
          <p class="content__par">Example:</p>
        </ul>
        <div class="simple-table">
          <div class="simple-table__cell">
            <div class="simple-table__cell--header"><b>Singular</b></div>
            <div>ash</div>
            <div>teach</div>
            <div>hiss</div>
            <div>nose</div>
            <div>judge</div>
          </div>
          <div class="simple-table__cell">
            <div class="simple-table__cell--header">
              <b>Plural</b>
            </div>
            <div>ashes /æʃɪz/</div>
            <div>teaches /ti:tʃɪz/</div>
            <div>hisses /hɪsɪz/</div>
            <div>noses /nəʊzɪz/</div>
            <div>judges /dʒʌdʒɪz/</div>
          </div>
        </div>
        <img
          src="../../assets/images/pig.png"
          alt="photo of a cute pig"
          class="content__img"
        />
      </div>
      <div class="content__section">
        <h1 class="content__h1-onColorWhite">
          PRONUNCIATION OF PAST TENSE MARKERS
        </h1>
        <p class="content__par">
          The past tense of regular verbs is derived by adding the suffix, “ed”
          to the verb. The past tense element is the same for all the regular
          verbs, but the pronunciation is different. There are three forms of
          pronunciation which are /d/, /t/ or /id/. The form of pronunciation is
          determined by the sound preceding the past tense element.
        </p>
        <p class="content__par">
          The rules guiding the past tense element are as follows:
        </p>
        <ul class="ul-whiteBg">
          <li class="ul-whiteBg__li">
            <span style="color: #a86551"> <b>Rule One</b> </span>
          </li>
          <p class="content__par">
            If the sound before the past tense marker is a vowel or voiced
            consonants, the past tense element is pronounced as /d/.
          </p>
          <p class="content__par">Example:</p>
        </ul>
        <div class="simple-table">
          <div class="simple-table__cell">
            <div class="simple-table__cell--header"><b>Present Tense</b></div>
            <div>beg</div>
            <div>care</div>
            <div>fail</div>
            <div>love</div>
            <div>gang</div>
          </div>
          <div class="simple-table__cell">
            <div class="simple-table__cell--header">
              <b>Past Tense</b>
            </div>
            <div>begged /begd/</div>
            <div>cared /keəd/</div>
            <div>failed /feɪld/</div>
            <div>loved /lʌvd/</div>
            <div>ganged /gæŋd/</div>
          </div>
        </div>
        <ul class="ul-whiteBg">
          <li class="ul-whiteBg__li">
            <span style="color: #a86551"> <b>Rule Two</b> </span>
          </li>
          <p class="content__par">
            If the sound before the past tense element is a voiceless consonant
            like /k, p, s, p, ʃ, tʃ, f/, the past tense element is pronounced as
            /t/.
          </p>
          <p class="content__par">Example:</p>
        </ul>
        <div class="simple-table">
          <div class="simple-table__cell">
            <div class="simple-table__cell--header"><b>Present Tense</b></div>
            <div>finish</div>
            <div>laugh</div>
            <div>pass</div>
            <div>knock</div>
            <div>pick</div>
          </div>
          <div class="simple-table__cell">
            <div class="simple-table__cell--header">
              <b>Past Tense</b>
            </div>
            <div>finished /fɪnɪʃt/</div>
            <div>laughed /la:ft/</div>
            <div>passed /pa:st/</div>
            <div>knocked /nɒkt/</div>
            <div>picked /pɪkt/</div>
          </div>
        </div>
        <ul class="ul-whiteBg">
          <li class="ul-whiteBg__li">
            <span style="color: #a86551"> <b>Rule Three</b> </span>
          </li>
          <p class="content__par">
            If a word ends with the consonant “t” or “d” before the past tense
            element, the past tense marker would be pronounced as /ɪd/.
          </p>
          <p class="content__par">Example:</p>
        </ul>
        <div class="simple-table">
          <div class="simple-table__cell">
            <div class="simple-table__cell--header"><b>Present Tense</b></div>
            <div>hand</div>
            <div>fart</div>
            <div>pound</div>
            <div>wait</div>
            <div>crowd</div>
          </div>
          <div class="simple-table__cell">
            <div class="simple-table__cell--header">
              <b>Past Tense</b>
            </div>
            <div>handed /hændɪd/</div>
            <div>farted /fa:tɪd/</div>
            <div>pounded /paʊndɪd/</div>
            <div>waited /weɪtɪd/</div>
            <div>crowded /kraʊdɪd/</div>
          </div>
        </div>
        <p class="content__par">
          You are advised to always consult a good dictionary to be sure of the
          correct pronunciation.
        </p>
        <img
          src="../../assets/images/advert.jpg"
          alt="book advert"
          class="content__img--ads"
        />
      </div>
      <div class="content__section">
        <h1 class="content__h1-onColorWhite">STRESS</h1>
        <p class="content__par">
          Stress is an important feature of speech. English is a stressed-time
          language. So, it is very important to place the right stress on words
          in order to sound like the native speakers of English language. To
          work on stressing words appropriately, we need to know what stress is.
        </p>
        <p class="content__par">
          Stress is the relative emphasis or prominence placed on a certain
          syllable in a word, or on a certain word in a phrase or sentence.
        </p>
        <p class="content__par">
          During speech, the airstream flows, as the airstream flows, you are
          expected to exert pressure in the production of the sounds, but not
          equal effort for the production of all the sounds. This is because
          some syllables are pronounced louder and longer than other syllables
          (the syllable which is pronounced louder and longer is the stressed
          syllable).
        </p>
        <h1 class="content__h1-child">
          Type of Stress
        </h1>
        <h2 class="content__h2">
          word stress
        </h2>
        <p class="content__h2--par">
          The stress placed on syllables within words is called word stress or
          lexical stress.
        </p>
        <p class="content__par">
          If a word consists of two syllables, the first syllable takes the
          stress. If the first syllable is a prefix, the second syllable takes
          the stress. The stressed syllable is usually written in capital
          letters.
        </p>
        <div class="fancy-table">
          <div class="fancy-table__cell">
            <div class="fancy-table__cell--header">
              <b>Words without prefix</b>
            </div>
            <div>TAble</div>
            <div>BROther</div>
            <div>MERcy</div>
            <div>COVer</div>
            <div>DOCtor</div>
          </div>
          <div class="fancy-table__cell">
            <div class="fancy-table__cell--header">
              <b>Words with prefix</b>
            </div>
            <div>unLESS</div>
            <div>beHIND</div>
            <div>inFORM</div>
            <div>reMAIN</div>
            <div>misTAKE</div>
          </div>
        </div>
        <h2 class="content__h2">
          SHIFTING STRESS
        </h2>
        <p class="content__h2--par">
          When you stress words in English, it has meaning. Therefore, a change
          in stress pattern of a word may change the meaning of the word.
        </p>
        <p class="content__h2--par">
          Shifting stress, therefore, is a change in the stressed syllable.
          There are some words in English with the same spelling, but different
          meaning when stress is placed on them. When a stress is placed on the
          first syllable in a disyllabic word, it becomes a noun. Whereas, it
          becomes a verb when the stress shifts to the second syllable.
        </p>
        <p class="content__h2--par">
          The shift from the first syllable to the second syllable reduces the
          quality of the vowel in the first syllable to the weak form /ə/.
        </p>
        <p class="content__par">
          Here are some words with the shifting stress.
        </p>
        <div class="fancy-table">
          <div class="fancy-table__cell">
            <div class="fancy-table__cell--header">
              <b>Noun</b>
            </div>
            <div>IMport</div>
            <div>PROtest</div>
            <div>EScort</div>
            <div>REcord</div>
            <div>TRANSport</div>
          </div>
          <div class="fancy-table__cell">
            <div class="fancy-table__cell--header">
              <b>Verb</b>
            </div>
            <div>imPORT</div>
            <div>proTEST</div>
            <div>esCORT</div>
            <div>reCORD</div>
            <div>transPORT</div>
          </div>
        </div>
        <h2 class="content__h2">
          SENTENCE STRESS
        </h2>
        <p class="content__par">
          The stress placed on words within sentences is called sentence stress
          or prosodic stress.
        </p>
        <p class="content__par">
          An English sentence may contain words of different classes. Some of
          the words in a sentence might be more prominent than the others, and
          to distinguish which word is more important, you have to stress the
          more prominent words.
        </p>
        <p class="content__par">
          Words are classified into content words and grammatical words. The
          content words comprise nouns verbs, adverbs and adjectives. We can say
          they are words which make sense, but not complete sense; while the
          grammatical words comprise the prepositions, pronouns, articles,
          conjunctions and auxiliary verbs. The grammatical words are words
          which makes a sentence correct grammatically.
        </p>
        <p class="content__par">
          In spoken speech, the content words are stressed in a sentence while
          the grammatical words are unstressed.
        </p>
        <p class="content__par">
          Prosodic (sentence) stress is used to emphasize a particular word or
          the ideas associated with them e.g
        </p>
        <p class="content__par">Did he GIVE you the BOOK?</p>
        <p class="content__par">Do you NEED HIS attention?</p>
        <p class="content__par">
          In the first sentence, “Give” and “Book” are stressed.
        </p>
        <p class="content__par">
          For you to speak English correctly and sound better, you need to work
          on the stress pattern of words in connected speech.
        </p>
        <p class="content__par">
          As a speaker of English, stressing and using the right tone when
          speaking and pronouncing English words is very important. When you
          apply the right stress and intonation while speaking, you will realize
          your English becomes better and you can communicate with anyone
          effectively.
        </p>
        <img
          src="../../assets/images/reading.png"
          alt="boy reading a book"
          class="content__img"
        />
      </div>
      <div class="content__section">
        <h1 class="content__h1-onColorWhite">WHAT IS INTONATION?</h1>
        <p class="content__par">
          Intonation can be defined as the <b>rise and fall in the pitch</b> of the
          voice when speaking. The type of tone you use when speaking English,
          determines whether a sentence is a statement, command, question or
          otherwise.
        </p>
        <p class="content__par">
          Your intonation conveys your attitude. This leads to some functions of
          intonation
        </p>
        <p class="content__par">ATTITUDINAL FUNCTION</p>
        <p class="content__par">
          The attitudinal function deals with expressing emotions and attitudes.
          Therefore, your attitude determines your intonation.
        </p>
        <p class="content__par">GRAMMATICAL FUNCTION</p>
        <p class="content__par">
          Example: In English, a falling pitch movement is associated with
          statements, but a rising pitch turns a statement into a yes/no
          question.
        </p>
        <p class="content__par">
          Take a look at this sentence “ I saw the money in my pocket”. This is
          just a statement showing the money was found in the pocket.
        </p>
        <p class="content__par">
          “Did you see the money in your pocket?" This question deals with a
          yes/no answer because the speaker wanted to know if the money was
          found in the pocket.
        </p>
        <p class="content__par">There are two main types of Intonation.</p>
        <p class="content__par">
          Knowing the types of intonation and applying the right tone when
          speaking English will help you in your communication process and
          improve your communication skill.
        </p>
        <h2 class="content__h2">FALLING TUNE</h2>
        <p class="content__h2--par">
          This is the pitch movement of the voice from a region of high to a
          region of low. The falling intonation is usually used in declarative
          sentences, exclamation, commands and Wh - questions (these are
          questions that begin with “wh” such as what, why, which, when, whom,
          where and questions that demand some information).
        </p>
        <p class="content__h2--par">
          You need to remember that you don’t stress preposition, articles,
          pronouns and auxiliary verbs when they appear in a sentence.
        </p>
        <p class="content__h2--par">
          Look at the sentences below. We are going to use some of the uses of
          falling intonation to make sentences, take note of the stressed words.
          The stressed words are written in capital letters.
        </p>
        <p class="content__h2--par">
          <b><i>Statements</i></b>
        </p>
        <p class="content__h2--par">
          NICE to MEET you. /naɪz tə mi:t jə/ <br />He GOT it RIGHT. /hə gɒt ət
          raɪt/
        </p>
        <p class="content__h2--par">
          <b><i>Exclamations</i></b>
        </p>
        <p class="content__h2--par">
          WOW, it’s BEAUtiful! /waʊ əts ‘bju:təfəl/ <br />
          What a surPRISE VIsit! /wɒt ə sə’praɪz ‘vɪzɪt/
        </p>
        <p class="content__h2--par">
          <b><i>Commands</i></b>
        </p>
        <p class="content__h2--par">
          CLOSE your BOOKS and LISten. /kləʊz jə bʊks ənd ‘lɪsn/ <br />
          I said KEEP QUIet. /aɪ sed ki:p ‘kwaɪət/
        </p>
        <p class="content__h2--par">
          <b><i>Wh- Questions</i></b>
        </p>
        <p class="content__h2--par">
          WHAT is your NAME? /wɒt əz jə neɪm/ <br />
          HOW OLD are YOU? /haʊ əʊld ə ju:/
        </p>
        <h2 class="content__h2">RISING TUNE</h2>
        <p class="content__h2--par">
          Rising intonation is the pitch movement of the voice from a low pitch
          to a higher pitch.
        </p>
        <p class="content__h2--par">
          The rising intonation is used to ask yes/no questions, to make a
          request and suggestion, to make list, for encouragement and for
          incomplete utterances.
        </p>
        <p class="content__h2--par">
          Here are some sentences using the rising intonation.
        </p>
        <p class="content__h2--par">
          <b><i>Yes/No questions</i></b>
        </p>
        <p class="content__h2--par">
          Do you need some WAter? <br />
          Have you seen the LAWyer?
        </p>
        <p class="content__h2--par">
          <b><i>Request and suggestion</i></b>
        </p>
        <p class="content__h2--par">
          I think you can do it this way. <br />
          May I make use of the restroom, please?
        </p>
        <p class="content__h2--par">
          <b><i>To make list</i></b>
        </p>
        <p class="content__h2--par">
          Get me bananas, mangoes, oranges and apples. <br />
          I am going to the market to buy rice, beans, yam and plantain.
        </p>
        <p class="content__h2--par">
          <b><i>For encouragement</i></b>
        </p>
        <p class="content__h2--par">
          You’re not doing badly. <br />
          This is great.
        </p>
        <p class="content__h2--par">
          <b><i>For incomplete utterances</i></b>
        </p>
        <p class="content__h2--par">
          At the party yesterday... <br />
          I saw Daniel at the market and we talked about...
        </p>
      </div>
      <div class="content__section">
        <app-prev-button></app-prev-button>
        <app-next-button></app-next-button>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
</div>
