<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#" class="navigation__link"> introduction</a>
      </li>
      <li class="navigation__item--chapter">chapter 1</li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> what is communication?</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">
          how to attain the skills of effective communication</a
        >
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">
          importance of effective communication</a
        >
      </li>
      <li class="navigation__item--chapter">chapter 2</li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> what is diction?</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> what is pronunciation?</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">
          important aspects of pronunciation</a
        >
      </li>
      <li class="navigation__item--chapter">chapter 3</li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> what is an accent?</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">
          the different types of british accent</a
        >
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> accent and neutralization</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> improving your accent</a>
      </li>
      <li class="navigation__item--chapter">chapter 4</li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> the sound system</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> introduction to phonetics</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> the consonant sounds</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> the vowel sounds</a>
      </li>
      <li class="navigation__item--chapter">chapter 5</li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> syllables</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">
          correct pronunciation of plural markers</a
        >
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">
          pronunciation of past tense markers</a
        >
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> what is stress?</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> what is intonation?</a>
      </li>
      <li class="navigation__item--chapter">chapter 6</li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> linking the pronunciation</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"> silent letters</a>
      </li>
    </ul>
  </nav>
</div>
