<div class="side-nav">
  <img
    src="../../assets/images/eloquentLogo.png"
    alt="Eloquent Logo"
    class="side-nav__logo"
  />

  <div class="side-nav__nav">
    <ul class="side-nav__nav--list">
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter1" fragment="introduction"> introduction</a>
      </li>
      <!--//////////////////////////////////////////
    //////////////////////////CHAPTER 1-->
      <li class="side-nav__nav--chapter">chapter 1</li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter1" fragment="what-is-communication">
          what is communication?</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a
          [routerLink]="chapter1"
          fragment="how-to-attain-the-skills-of-effective-communication"
        >
          how to attain the skills of effective communication</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a
          [routerLink]="chapter1"
          fragment="importance-of-effective-communication"
        >
          importance of effective communication</a
        >
      </li>
      <!--//////////////////////////////////////////
    //////////////////////////CHAPTER 2-->
      <li class="side-nav__nav--chapter">chapter 2</li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter2" fragment="what-is-diction">
          what is diction?</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter2" fragment="what-is-pronunciation">
          what is pronunciation?</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a
          [routerLink]="chapter2"
          fragment="important-aspects-of-pronunciation"
        >
          important aspects of pronunciation</a
        >
      </li>
      <!--//////////////////////////////////////////
    //////////////////////////CHAPTER 3-->
      <li class="side-nav__nav--chapter">chapter 3</li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter3" fragment="what-is-an-accent">
          what is an accent?</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a
          [routerLink]="chapter3"
          fragment="the-different-types-of-british-accent"
        >
          the different types of british accent</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter3" fragment="accent-neutralization">
          accent neutralization</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter3" fragment="ways-to-improve-your-accent">
          improving your accent</a
        >
      </li>
      <!--//////////////////////////////////////////
    //////////////////////////CHAPTER 4-->
      <li class="side-nav__nav--chapter">chapter 4</li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter4" fragment="the-sound-system">
          the sound system</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter4" fragment="introduction-to-phonetics">
          introduction to phonetics</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter4" fragment="the-consonant-sounds">
          the consonant sounds</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter4" fragment="the-vowel-sounds">
          the vowel sounds</a
        >
      </li>
      <!--//////////////////////////////////////////
    //////////////////////////CHAPTER 5-->
      <li class="side-nav__nav--chapter">chapter 5</li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter5" fragment="syllables"> syllables</a>
      </li>
      <li class="side-nav__nav--heading">
        <a
          [routerLink]="chapter5"
          fragment="correct-pronunciation-of-plural-markers"
        >
          correct pronunciation of plural markers</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a
          [routerLink]="chapter5"
          fragment="pronunciation-of-past-tense-markers"
        >
          pronunciation of past tense markers</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter5" fragment="stress"> what is stress?</a>
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter5" fragment="what-is-intonation">
          what is intonation?</a
        >
      </li>
      <!--//////////////////////////////////////////
    //////////////////////////CHAPTER 6-->
      <li class="side-nav__nav--chapter6">chapter 6</li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter" fragment="linking-in-pronunciation">
          linking in pronunciation</a
        >
      </li>
      <li class="side-nav__nav--heading">
        <a [routerLink]="chapter6" fragment="silent-letters"> silent letters</a>
      </li>
    </ul>
  </div>
</div>
