<!--
  Left side navigation.
  Contains links to all book chapters and lessons.
-->

<main class="wrapper">
  <div class="wrapper__side-nav">
    <img
      src="../../assets/images/eloquentLogo.png"
      alt="Eloquent Logo"
      class="wrapper__logo"
    />
    <ul class="wrapper__side-nav--list">
      <li class="wrapper__side-nav--heading"><a href="#"> introduction</a></li>
      <li class="wrapper__side-nav--chapter">chapter 1</li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> what is communication?</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> how to attain the skills of effective communication</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> importance of effective communication</a>
      </li>
      <li class="wrapper__side-nav--chapter">chapter 2</li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> what is diction?</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> what is pronunciation?</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> important aspects of pronunciation</a>
      </li>
      <li class="wrapper__side-nav--chapter">chapter 3</li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> what is an accent?</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> the different types of british accent</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> accent and neutralization</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> improving your accent</a>
      </li>
      <li class="wrapper__side-nav--chapter">chapter 4</li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> the sound system</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> introduction to phonetics</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> the consonant sounds</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> the vowel sounds</a>
      </li>
      <li class="wrapper__side-nav--chapter">chapter 5</li>
      <li class="wrapper__side-nav--heading"><a href="#"> syllables</a></li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> correct pronunciation of plural markers</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> pronunciation of past tense markers</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> what is stress?</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> what is intonation?</a>
      </li>
      <li class="wrapper__side-nav--chapter">chapter 6</li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> linking the pronunciation</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> silent letters</a>
      </li>
      <li class="wrapper__side-nav--heading">
        <a href="#"> wrongly pronounced words</a>
      </li>
    </ul>
  </div>
  <div class="wrapper__content">
    <app-top-nav></app-top-nav>
    <app-content></app-content>
  </div>
</main>
