<!-- Content; Chapter 2 - headings, paragraphs, images, etc -->

<div class="wrapper">
  <aside class="aside">
    <app-side-nav></app-side-nav>
  </aside>
  <main class="main">
    <app-top-nav></app-top-nav>
    <div class="floating-button">
      <app-button-nav></app-button-nav>
    </div>
    <div class="chapter">
      <div class="chapter__number">chapter 2</div>
      <div class="chapter__title">diction & pronunciation</div>
    </div>
    <div class="content">
      <div class="content__section">
        <h1 class="content__h1-onColorWhite" id="what-is-diction">WHAT IS DICTION?</h1>
        <p class="content__par">
          Diction is the effectiveness and degree of <b>clarity</b> of word
          choice and expression. It concerns pronunciation and tone. It can also
          be the act of speaking in a <b>distinctive</b> way.
        </p>
        <p class="content__par">
          Having a clear diction entails pronouncing your words correctly. For
          clear diction and pronunciation, we need to understand the concept and
          the difference of pronunciation and diction. This leads us to what
          pronunciation entails.
        </p>
        <img
          src="../../assets/images/megaphone.png"
          alt="megaphone"
          class="content__img"
        />
      </div>

      <div class="content__section">
        <h1 class="content__h1-onColorWhite" id="what-is-pronunciation">WHAT IS PRONUNCIATION?</h1>
        <p class="content__par">
          Pronunciation is the way a word or a language is sounded. It may be
          referred to as the generally accepted <b>sequences of sounds</b> used
          in saying a given word or language in a specific dialect. It can be
          the way a particular individual speaks a word or language.
        </p>
        <p class="content__par">
          A word can be pronounced in different ways by various individuals or
          groups, depending on various factors such as location of their current
          residence, speech or voice disorders, ethnic group, social class and
          level of education.
        </p>
        <p class="content__par">
          No matter the factor affecting your pronunciation, you will surely
          speak correctly and sound better when you practice consistently the
          practical guidelines in this book. 😊
        </p>
        <p class="content__par">
          It is important we learn to pronounce words correctly because good
          pronunciation makes listeners understand the language you are
          speaking. Without proper pronunciation, listeners may not understand
          the speaker’s language or words. Pronunciation plays a key role in
          speaking.
        </p>
        <p class="content__par">
          For our pronunciation to be correct, we need to articulate words
          properly. Articulation* is the quality, clarity or sharpness of
          speech.
        </p>
        <p class="content__par">
          For a clear speech, we need to make use of our speech organs which
          are: mouth, lips, tongue, teeth etc. We also need to know our vowels
          and consonants because they play an important role in speech
          articulation.
        </p>
        <img
          src="../../assets/images/adverts.jpg"
          alt="book advert"
          class="content__img--ads"
        />\
        <button>Buy it now on Amazon 🛒</button>
      </div>

      <div class="content__section">
        <h1 class="content__h1-onColorWhite" id="important-aspects-of-pronunciation">
          IMPORTANT ASPECTS OF PRONUNCIATION
        </h1>
        <p class="content__par">
          For correct pronunciation, we need to take note of some things
          required to sound better.
        </p>
        <p class="content__par">
          <b>WORD STRESS:</b> This is the emphasis placed on certain syllables
          in a word. English is a stress-timed language. Therefore, to sound
          better, we need to stress some syllables in a word.
        </p>
        <p class="content__par">
          <b>SENTENCE STRESS:</b> This is the emphasis placed on certain words
          in a sentence.
        </p>
        <p class="content__par">
          <b>LINKING:</b> This is the joining of certain words in order to flow
          smoothly when pronouncing words.
        </p>
        <p class="content__par">
          <b>INTONATION:</b> It is the rise and fall of the voice when speaking.
        </p>
        <p class="content__par">
          In the subsequent chapters, we are going to learn more about those
          aspects of pronunciation.
        </p>
        <p class="content__par">
          You want to improve your pronunciation and speak like a Briton, don’t
          you? Well, speaking like a Briton and improving your pronunciation is
          possible if you are determined to do so. To that effect, you should
          follow the tips listed below:
        </p>
        <ul class="ul-whiteBg">
          <li class="ul-whiteBg__li">
            Learn the International Phonetic Alphabet (IPA). This will ensure
            that you not guess the pronunciation of words but, instead, always
            check your dictionary to confirm the correct pronunciation.🤓
          </li>
          <li class="ul-whiteBg__li">
            Listen carefully to others before you speak.👂
          </li>
          <li class="ul-whiteBg__li">
            Listen to yourself when speaking and correct your mistakes if
            possible. Be conscious of your pronunciation. Granted it will
            undermine fluency a bit, but the exercise is worth it.😉
          </li>
          <li class="ul-whiteBg__li">
            Watch British movies and pay attention to how they speak. You could
            also mimic them if that’s ok with you (I do that sometimes).😊
          </li>
          <li class="ul-whiteBg__li">Practice with tongue twisters.😛</li>
          <li class="ul-whiteBg__li">
            Check the movement of your mouth by using the mirror when making any
            sound (it’s quite awkward, believe me I have been there. But it’s
            worth a try).😆
          </li>
        </ul>
      </div>
      <div class="content__section">
        <app-prev-button></app-prev-button>
        <app-next-button></app-next-button>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
</div>
