@import "../../scss/vars";

.btn-inline {
  border: none;
  color: $color-consonant1;
  font-size: 2.5rem;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  background-color: transparent;
  float: right;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: $color-ipa;

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
  }
}
