@import '../../scss/vars';
@import '../../scss/mixins';

.nav {
  font: 1.5rem 'Varela Round';
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  transition: all 0.2s;
  color: $color-heading;
  background-color: $color-bg;

  &__item {
    margin-right: 1rem;
    align-self: center;

    @include respond(phone) {
      margin-right: 0.7rem;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color-ipa;
    }
  }
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    border-radius: 10rem;
    border: 1px solid $color-heading;
    background-color: $color-bg;
    color: $color-heading;
    transition: all 0.2s;

    @include respond(phone) {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }

  &:nth-last-child(1) {
    margin-right: 0;
  }

  &:hover {
    background-color: $color-heading;
    color: $color-bg;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
