<!-- Content; Chapter 6 - headings, paragraphs, images, etc -->

<div class="chapter">
  <div class="chapter__number" id="chapter-6">chapter 6</div>
  <div class="chapter__title">LINKING & SILENT LETTERS</div>
</div>
<div class="content">
  <div class="content__section">
    <h1 class="content__h1-onColorWhite" id="linking-in-pronunciation">
      LINKING IN PRONUNCIATION
    </h1>
    <p class="content__par">
      Linking in pronunciation is a way of <b>joining</b> the pronunciation of
      two or more words to <b>flow</b> smoothly.
    </p>
    <p class="content__par">
      Native speakers of English do link their words naturally. At times,
      because of the way he is linking his words, you might want to strain your
      ears a bit more to hear what a native speaker is saying.
    </p>
    <p class="content__par">
      In order for you to flow when speaking English, you need to learn how to
      link your words. As a learner, failing to link words naturally or
      deliberately in spoken English may result in awkward pauses or extra,
      unnecessary sounds.
    </p>
    <p class="content__par">
      Linking is very important in English. If you recognize and use linking
      when speaking, people will understand you better when you are speaking and
      vice versa.
    </p>
    <p class="content__par">
      There are two widely understood accent of English:
    </p>
    <ul class="ul-whiteBg">
      <li class="ul-whiteBg__li">
        General American (GenAm)
      </li>
      <li class="ul-whiteBg__li">
        Received Pronunciation (RP). It is also called the BBC English, Queens
        English, Oxford English, etc.
      </li>
    </ul>
    <br />
    <br />
    <p class="content__par">
      The Americans are rhotic speakers of English - they do pronounce the sound
      of letter “R” at the beginning and end of words.
    </p>
    <p class="content__par">
      Whereas, the Received Pronunciation is non-rhotic. Letter “R” is only
      sounded at the beginning of words. This is where linking in pronunciation
      occurs.
    </p>
    <p class="content__par">
      The rules of Letter “r” in British English are:
    </p>
    <ul class="ul-whiteBg">
      <li class="ul-whiteBg__li">
        Letter “r” is sounded at the beginning of words like rat, ring, robe,
        Ruth, etc.
      </li>
      <li class="ul-whiteBg__li">
        Letter “r” is sounded when it is followed by a vowel or a semi-vowel. We
        have words like foreign, forever, lorry, print, pray, etc.
      </li>
    </ul>
    <br />
    <br />
    <p class="content__par">
      Linking “r” occurs when the last word ends with letter “r” and the next
      word begins with a vowel in a phrase or sentence.
    </p>
    <p class="content__par">
      I’m going far away from here. (The pronunciation becomes fa-raway)
    </p>
    <p class="content__par">It is a matter of fact (matte-rof)</p>
    <p class="content__par">My car is bad (ca-ris bad)</p>
    <p class="content__par">Murder is a crime. (mude-ris)</p>
  </div>
  <div class="content__section">
    <h1 class="content__h1-child">Consonant to Vowel Linking</h1>
    <p class="content__par">
      This linking occurs when the last consonant in a word is linked to the
      nearest vowel. Instead of pronouncing the word in isolation, you just link
      the words in order to flow when speaking.
    </p>
    <p class="content__par">
      Here are some sentences with consonant to vowel linking.
    </p>
    <p class="content__par">
      She has an apple <br />
      She ha - san - na - pple
    </p>
    <p class="content__par">
      Can I have a bite of egg? <br />
      ca - ni - ha - va - baɪ - to - vegg?
    </p>
    <p class="content__par">That is good <br />Tha - tis - good</p>
  </div>
  <div class="content__section">
    <h1 class="content__h1-child">Vowel to Vowel Linking</h1>
    <p class="content__par">
      When a word ends with a vowel sound and the next word begins with a vowel
      sound, we link with the sound /j/ which is letter “y” or /w/ which is
      letter “w”. The linking to /j/ or /w/ depends on the shape of your mouth
      at the end of the first word.
    </p>
    <p class="content__par" style="color:#a86551">
      Linking vowel to vowel with /j/
    </p>
    <p class="content__par">
      If the first word containing a vowel ends with a neutral sound or with
      wide lips, as in a /eɪ/, e /i: /, /aɪ/, you link with the /j/ sound to the
      next vowel.
    </p>
    <p class="content__par">Study the phrases and sentences below.</p>
    <p class="content__par">
      Three eggs <br />
      Three yeggs /θri:jegs/
    </p>
    <p class="content__par">
      I like to eat tea and bread <br />
      tea yand bread /aɪ laɪk tə i:t ti:jənd bred/
    </p>
    <p class="content__par">
      The bee is busy <br />
      bee yis /ðə bi:jəz bɪzi/
    </p>
    <p class="content__par" style="color:#a86551">
      Linking Vowel to vowel with /w/
    </p>
    <p class="content__par">
      When the first word ends with o /əʊ/, u /u:/ sounds, the lips are round.
      During the linking, we insert /w/ sound at the beginning of the next vowel
      of a word.
    </p>
    <p class="content__par">Study the phrases and sentences below.</p>
    <p class="content__par">
      Go out now <br />
      Go wot now /gəʊ waʊt naʊ/
    </p>
    <p class="content__par">
      She comes here too often <br />
      She comes here too wofen /ʃi: kʌms hɪə tu:wəfən/
    </p>
    <p class="content__par">
      You are always late <br />
      You ware always late /ju:wə ɔ:lweɪz leɪt/
    </p>
    <p class="content__par">
      I want two eggs <br />
      I want two weggs /aɪ wənt tu:wegz/
    </p>
    <p class="content__par">
      For you to flow well when speaking English, you need to practice linking
      to words. Be intentional and conscious of what you are saying. You do not
      have to rush what you are saying. Make sure effective communication still
      take place when linking words.
    </p>
    <p class="content__par">
      We have discussed lots of things that can help you become an eloquent
      English speaker, but we still need to work on silent letters. A lot of
      people do pronounce debt by adding the ‘b’ instead of /det/ and ‘gnash’ as
      /gnæʃ/ instead of /næʃ/. This is because they are not aware that in words,
      some letters are not pronounced.
    </p>
    <p class="content__par">
      This leads to what silent letter is and the rules of silent letters.
    </p>
  </div>
  <div class="content__section">
    <h1 class="content__h1-onColorWhite" id="silent-letters">
      WHAT IS A SILENT LETTER?
    </h1>
    <p class="content__par">
      Silent letters are letters which <b>appear</b> in a word <b>but</b> are
      <b>not pronounced</b> during speech.
    </p>
    <p class="content__par">We have two types of silent letters.</p>
    <h2 class="content__h2">
      Auxiliary silent letter
    </h2>
    <p class="content__h2--par">
      The auxiliary silent letters work with other letters to form a specific
      sound that doesn’t sound like either of the letters in the silent letter
      pair.
    </p>
    <p class="content__h2--par">Example of these are sh, ph, th.</p>
    <p class="content__h2--par">
      While Endocentric auxiliary silent letter combinations produce the sound
      of one of the letters in the pair. Double consonants such as ‘ff’ in the
      word, puff, ‘ss’ in the word hiss. In those words, only one of the
      consonant’s’ and ‘f’ is produced.
    </p>
    <h2 class="content__h2">
      Dummy silent letters
    </h2>
    <p class="content__h2--par">
      Dummy silent letters are simply letters that are not produced. The dummy
      silent letters are silent in words for the following reason.
    </p>
    <p class="content__h2--par">
      The silent letter may actually be pronounced when the base word changes to
      a longer word. For example, in the word ‘sign’, the ‘g’ is not pronounced,
      but in the word ‘signature’, the ‘g’ makes a sound. These are called inert
      letters. If the letters in words do not change to make a sound, then, they
      are known as empty letters.
    </p>
    <p class="content__h2--par">
      Now that you have known what silent letters are, it is important to know
      the rules of silent letters for accurate pronunciation of words.
    </p>
  </div>
  <div class="content__section">
    <h1 class="content__h1-child">Rules of Silent Letters</h1>
    <h2 class="content__h2">Silent ‘b’</h2>
    <p class="content__h2--par">
      Letter b is silent before t as in debt, doubt, subtle B is also silent
      when it comes after m as in bomb, comb, dumb, thumb, tomb, climb, and
      womb.
    </p>
    <h2 class="content__h2">Silent ‘c’</h2>
    <p class="content__h2--par">
      Letter c is silent when it follows the letter’s’ and comes before ‘I’ and
      ‘e’, For example, we have science, scepter, scent.
    </p>
    <p class="content__h2--par">
      C is also silent before ‘k’. We have duck, mock, luck.
    </p>
    <p class="content__h2--par">
      Letter c is also silent when it comes before letter ‘z’ in a word. We have
      czar, Czech, czarina.
    </p>
    <p class="content__h2--par">
      Letter c can also be silent before letter ‘L’ in a word. Take a look at
      the word MUSCLE /’mʌsl/ not /mɒskl/.
    </p>
    <h2 class="content__h2">Silent ‘d’</h2>
    <p class="content__h2--par">
      D is silent when it appears before the letter N and G. We have words like
      Wednesday, grudge, cadge, pledge.
    </p>
    <p class="content__h2--par">
      D is also not pronounced in sandwich, handkerchief, handsome.
    </p>
    <h2 class="content__h2">Silent ‘e’</h2>
    <p class="content__h2--par">
      E is silent at the end of words. The vowel before the ‘e’ makes a long
      vowel sound. We have words example like cake, fine, hope, Pete, cube.
    </p>
    <h2 class="content__h2">Silent ‘g’</h2>
    <p class="content__h2--par">
      G is not pronounced when it comes before N in a word. We have the
      following words with silent ‘G’. Gnash, design, foreign, sign, align,
      champagne.
    </p>
    <p class="content__h2--par">
      G is also not pronounced before letter m in the word diaphragm.
    </p>
    <p class="content__h2--par">
      ‘Gh’ is not pronounced when it comes after a vowel in a word. Height,
      though, alight, thought, light.
    </p>
    <p class="content__h2--par">
      ‘Gh’ is sometimes pronounced like ‘f,’ as in cough, laugh, enough, tough,
      rough.
    </p>
    <h2 class="content__h2">Silent ‘h’</h2>
    <p class="content__h2--par">
      H is silent when it appears after letter ‘w’ in words like why, when,
      where, what.
    </p>
    <p class="content__h2--par">
      H is not silent after letter ‘w’ sometimes when the vowel preceding the
      ‘h’ is letter ‘o’. Like in the word who, whole, whose, whom.
    </p>
    <p class="content__h2--par">
      H is silent at the beginning of these words. Hour, honest, honor, heir
      (always use the article ‘an’ when pronouncing words with silent H).
    </p>
    <p class="content__h2--par">
      H is also silent after letter r in the word myrrh.
    </p>
    <h2 class="content__h2">Silent ‘i’</h2>
    <p class="content__h2--par">
      L is usually not pronounced after the vowels a, o and u. We have half,
      would, folk, calf, palm.
    </p>
    <h2 class="content__h2">Silent ‘n’</h2>
    <p class="content__h2--par">
      Letter n is not pronounced when it comes after m as the end of a word. We
      have words like column, solemn, autumn, and damn.
    </p>
    <h2 class="content__h2">Silent ‘p’</h2>
    <p class="content__h2--par">
      P is not pronounced at the beginning of many words using the combination
      PS, PT, and PN.
    </p>
    <p class="content__h2--par">
      We have words like psalm, psychology, pneumonia, pterodactyl, pneumatic.
      Ph is sometimes pronounced like ‘f’. You can listen to the pronunciation
      like telephone, paragraph, elephant, alphabet, physical.
    </p>
    <h2 class="content__h2">Silent ‘s’</h2>
    <p class="content__h2--par">
      Letter s is not pronounced before letter L in the following words. Isle,
      island, aisle, islet.
    </p>
    <h2 class="content__h2">Silent ‘t’</h2>
    <p class="content__h2--par">
      Letter t is not pronounced in the following words, Castle, Christmas,
      nestle, fasten, often, apostle, whistle, wrestle, hasten, rapport, depot,
      ballet, Chevrolet.
    </p>
    <h2 class="content__h2">Silent ‘u’</h2>
    <p class="content__h2--par">
      The letter u is not pronounced when it comes after G and before a vowel in
      a word. We have words like guitar, guide, guard, guest, and guess.
    </p>
    <h2 class="content__h2">Silent ‘w’</h2>
    <p class="content__h2--par">
      W is not pronounced at the beginning of a word when it is before the
      letter ‘r’. We have words like wrong, write, wrap, wreck, wrestling. W is
      also silent in the following words like who, sword, two, answer, whole.
    </p>
    <br />
    <br />
    <p class="content__par">
      (Please beware that there are exceptions to some of the silent letter
      rules. It is important to check your dictionary when you are confused
      about the correct pronunciation of a word).
    </p>
  </div>
  <div class="content__section">
    <div class="thanks4reading">Thanks for reading</div>
  </div>
  <div class="content__section">
    <img src="../../assets/images/emoji.png" alt="emoji" class="content__img" />
  </div>
</div>
