<app-top-nav></app-top-nav>

<div class="ipa">
  <h1 class="ipa__h1">what, how and why ipa? 🤔</h1>
  <div class="ipa__circle1">
    <h3 class="ipa__h3">What is the IPA</h3>
    <p class="ipa__par">
      The IPA is an acronym for International Phonetic Alphabet. It is a
      standardized set of symbols used for representing the sound of human
      speech. While English alphabets are used to construct written words, IPA
      symbols are used to construct spoken words otherwise known as
      transcription.
    </p>
    <p class="ipa__par">
      IPA is used for phonetic and phonemic transcription of all languages.
      Although IPA includes over 160 symbols for transcribing speech, only 44
      are used in the English language – 12 Vowels, 8 Diphthongs and 24
      Consonants (We will present each of these 44 symbols in the following
      three chapters). 🤞
    </p>
  </div>
  <div class="ipa__circle2">
    <h3 class="ipa__h3">How was the IPA formed?</h3>
    <p class="ipa__par">
      This is a short history of the IPA. Led by the French linguist Paul Passy,
      it was invented by a group of French and British language teachers known
      as the International Phonetic Association, in Paris, in the late 19th
      century. It was intended as an international system of phonetic
      transcription for oral languages, originally for the purpose of teaching.
    </p>
    <p class="ipa__par">
      The Association based their alphabet upon the Romic alphabet proposed by
      Henry Sweet. A number of revisions of the alphabet have been done during
      its history, with a particular one put forth at the Kiel Convention in
      1989 to have been the most significant. Till date, changes to the alphabet
      are suggested and discussed in the Association’s organ called Journal of
      the International Phonetic Association (JIPA /dʒɑɪpə/). 🤝
    </p>
  </div>
  <div class="ipa__circle3">
    <h3 class="ipa__h3">Why do we need the IPA?</h3>
    <p class="ipa__par">
      Put simply, we need the IPA because it helps us to know exactly what sound
      we make when we talk. IPA is important because the English spelling system
      is quite unreliable.
    </p>
    <p class="ipa__par">
      The letter ‘c’, for instance, is pronounced like ‘s’ in some words (e.g.
      cell), and ‘k’ in others (e.g. call). Similarly, ‘o’ corresponds to one
      vowel sound in ‘robbery’ and a different one in ‘robe’.
    </p>
    <p class="ipa__par">
      Furthermore, these words—Love, Cove and Move, all look the same except for
      the first letters. If we try to pronounce them by merely how we see them,
      we might pronounce them the same except for the first letters. But the
      reality is different: they are not pronounced the same. ‘Love’ has the
      ‘uh’ short vowel sound as in ‘butter’, ‘Cove’ has the ‘oh’ diphthong, and
      ‘move’ has the ‘oo’ long vowel sound. Thus, they are pronounced ‘Love’
      [luhv] /lʌv/, ‘Cove’ [cohv] /kəʊv/, and ‘Move’ [moov] /mu:v/.
    </p>
    <p class="ipa__par">
      There are no rules to tell you which word should be pronounced which way,
      you just have to know; you just have to learn the pronunciation when you
      learn the word. Therefore, IPA was invented to help us learn and
      distinguish pronunciation.🙏
    </p>
  </div>
</div>

<div class="ipa__cta">
  <p class="ipa__cta--learn-more">
    want to learn and master IPA? 💪
  </p>
  <div class="ipa__cta--cover">
    <img
      src="../../assets/images/IPACover.jpg"
      alt="IPA book cover"
      class="ipa__cta--image"
    />
    <a
      href="https://www.amazon.com/dp/1099459257"
      target="blank"
      class="ipa__cta--link"
    >
      <div>
        <p class="ipa__cta--btn">Purchase this book on Amazon</p>
        <span> &rarr;</span>
      </div>
    </a>
  </div>
</div>

<app-footer></app-footer>
