@import '../../scss/vars';
@import '../../scss/mixins';

.chapters {
  background-color: $color-bg;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 2rem;
  }

  @include respond(phone) {
    padding: 1.5rem;
  }

  &__card {
    background-color: $color-consonant1;
    flex-basis: 35%;
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-right: 2rem;

    &:hover {
      background-color: $color-consonant2;
    }

    @include respond(tab-port) {
      padding: 2rem;
      flex-basis: 40%;
    }

    @include respond(phone) {
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      flex-basis: 80%;
    }
  }

  &__chapter {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 3rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  &__link {
    text-decoration: none;
    color: $color-background;
    transition: all 0.2s;

    &:hover {
      color: $color-black;
      font-size: 1.7rem;
    }
  }

  &__link-chapter {
    text-decoration: none;
    color: $color-background;
    transition: all 0.2s;

    &:hover {
      color: $color-black;
      font-size: 4rem;
    }
  }
}
