<app-top-nav></app-top-nav>

<div class="chapters">
  <div class="chapters__card">
    <h1 class="chapters__chapter">chapter 1</h1>
    <ul class="chapters__list">
      <li class="chapters__item">
        <a href="/chapter1#what-is-communication" class="chapters__link"> <!--TODO: Research for the Angualar counterpart for this-->
          what is communication?</a
        >
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link">
          how to attain the skills of effective communication</a
        >
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link">
          importance of effective communication</a
        >
      </li>
    </ul>
  </div>
  <div class="chapters__card">
    <h1 class="chapters__chapter">chapter 2</h1>
    <ul class="chapters__list">
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> what is diction?</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> what is pronunciation?</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link">
          important aspects of pronunciation</a
        >
      </li>
    </ul>
  </div>
  <div class="chapters__card">
    <h1 class="chapters__chapter">chapter 3</h1>
    <ul class="chapters__list">
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> what is an accent?</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link">
          the different types of british accent</a
        >
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> accent and neutralization</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> improving your accent</a>
      </li>
    </ul>
  </div>
  <div class="chapters__card">
    <h1 class="chapters__chapter">chapter 4</h1>
    <ul class="chapters__list">
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> the sound system</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> introduction to phonetics</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> the consonant sounds</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> the vowel sounds</a>
      </li>
    </ul>
  </div>
  <div class="chapters__card">
    <h1 class="chapters__chapter">chapter 5</h1>
    <ul class="chapters__list">
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> syllables</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link">
          correct pronunciation of plural markers</a
        >
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link">
          pronunciation of past tense markers</a
        >
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> what is stress?</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> what is intonation?</a>
      </li>
    </ul>
  </div>
  <div class="chapters__card">
    <h1 class="chapters__chapter">chapter 6</h1>
    <ul class="chapters__list">
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> linking the pronunciation</a>
      </li>
      <li class="chapters__item">
        <a routerLink="#" class="chapters__link"> silent letters</a>
      </li>
    </ul>
  </div>
</div>
