<div class="popup" (click)="hidePopup($event)" #popup>
  <div class="popup__content">
    <div class="popup__header">
      <img
        src="../../assets/images/close-svgrepo-com.svg"
        alt="close"
        class="popup__close"
        (click)="hidePopup($event)"
      />
      <h3 class="popup__heading1">Welcome</h3>
      <h4 class="popup__heading2">Subscribe for weekly tips</h4>
    </div>

    <div class="popup__form">
      <div class="popup__form--wrapper">
        <input type="email" class="popup__form--email" placeholder="Email" />
        <button class="popup__form--btn">Subscribe</button>
      </div>
    </div>
  </div>
</div>
