<!-- Content; Chapter 1 - headings, paragraphs, images, etc -->

<div class="wrapper">
  <aside class="aside">
    <app-side-nav></app-side-nav>
  </aside>
  <main class="main">
    <app-top-nav></app-top-nav>
    <div class="floating-button">
      <app-button-nav></app-button-nav>
    </div>
    <div class="content">
      <div class="content__section--green">
        <h1 class="content__h1-onColorGreen">introduction</h1>
        <p class="content__par">
          Irrespective of where we come from, the English language is essential
          for communication. It has become necessary for people everywhere to
          develop the effective communication skills of speaking English and
          take English language up to the level of international standard with
          the right British accent.
        </p>
        <p class="content__par">
          English language originated from England as we know it. It has become
          a common language spoken in all parts of the British Isles, the
          Commonwealth of Nations, North America, and other parts of the world.
          In this text, you will learn the rules in order to speak and sound
          like the native speakers and communicate effectively with everyone you
          meet around the globe.
        </p>
        <p class="content__par">
          To communicate effectively in English language, you’ll need to take
          notice of the way and manner of speech of native speakers when they
          are speaking. This will help you to know how to pronounce English
          words correctly with clear diction. It will also help you to speak
          fluently.
        </p>
      </div>
      <br />
      <br />
      <br />
      <div class="chapter">
        <div class="chapter__number">chapter 1</div>
        <div class="chapter__title">communication</div>
      </div>
      <div class="content__section">
        <h1 class="content__h1-onColorWhite">what is communication?</h1>
        <p class="content__par">
          Communication is simply the act of <b>sending</b> and
          <b>receiving</b> messages through verbal or non-verbal means.
        </p>
        <img
          src="../../assets/images/menShakeHands.png"
          alt="Men Shaking Hands"
          class="content__img"
        />

        <p class="content__par">
          Now that we have known what communication is, we need to know what
          effective communication entails. If communication is effective, there
          will be mutual understanding.
        </p>

        <p class="content__par">
          Effective communication is a reciprocal process which involves the
          sending party sending a message that iseasily understood by the
          receiving party. Effective communication entails not just the way you
          use words, italso covers different skills such as non-verbal
          communication, ability to understand your own emotions aswell as those
          of the other person you are communicating with.
        </p>
      </div>

      <div class="content__section">
        <h1 class="content__h1-onColorWhite">
          how to attain the skills of effective communication
        </h1>
        <p class="content__par">
          To be an effective communicator, you need to <b>attain</b> the skills
          of effective communication.
        </p>

        <h2 class="content__h2">active listening</h2>
        <p class="content__h2--par">
          This can be done by listening as much as you speak. You need to listen
          with your whole body, be alert and interested in the other person.
          Also, refrain from interrupting and reflecting on what you have heard.
        </p>
        <p class="content__h2--par">
          Ralph Nichols states that “the most basic of all human needs is the
          need to understand and be understood”. The best way to understand
          people is listening to them.
        </p>

        <h2 class="content__h2">ask questions</h2>
        <p class="content__h2--par">
          To improve your communication skills, you need to ask questions when
          you are conversing with someone. When you ask questions, the
          communication keeps flowing.
        </p>

        <h2 class="content__h2">being clear and succinct</h2>
        <p class="content__h2--par">
          When you are speaking, be articulate and concise. Clarity is important
          when speaking English.
        </p>

        <h2 class="content__h2">none-verbal communication</h2>
        <p class="content__h2--par">
          When communicating, take note of your nonverbal communication signals
          such as tone of voice, eye contact, facial expressions and the posture
          of your arms and legs. We have seen how we can attain the skill of an
          effective communicator. It is proper we know why effective
          communication is important.
        </p>
      </div>

      <div class="content__section--dark">
        <h1 class="content__h1-onColorDark">
          Importance of Effective Communication
        </h1>
        <ul class="ul-darkBg">
          <li class="ul-darkBg__li">
            Effective communication is important for the development of an
            organization and personal lives.
          </li>
          <li class="ul-darkBg__li">
            Effective communication helps in adjusting people’s attitude. A
            well-informed person will always have a better manner of speaking
            than a less informed person.
          </li>
          <li class="ul-darkBg__li">
            Effective communication serves as a means of socialization.
          </li>
          <li class="ul-darkBg__li">It deepens connection with people.</li>
          <li class="ul-darkBg__li">It improves teamwork</li>
          <li class="ul-darkBg__li">It helps to avoid conflict.</li>
        </ul>
      </div>
      <div class="content__section">
        <app-next-button></app-next-button>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
</div>
