@import "../scss/vars";

.body {
  box-sizing: border-box;
  background-color: $color-bg;
  color: $color-heading;
  padding-bottom: 3rem;
}

.container {
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: $color-bg;
  color: $color-heading;
}
