@import './vars';
@import './mixins';

//////////////////////////////////////////////
/////// Global styling for all chapter components created
////// This style sheet is exported to individual chapter component

/////// Containers

.wrapper {
  display: flex;
}
.aside {
  width: 25%;

  @include respond(tab-port) {
    display: none;
  }

  @include respond(phone) {
    display: none;
  }
}

.main {
  flex: 1;
  overflow: auto;
}

.content {
  padding-bottom: 5rem;
  &__section {
    padding: 1rem;
    padding: 4rem 12rem 4rem 12rem;

    @include respond(tab-land) {
      padding: 2.5rem 9rem 2.5rem 9rem;
    }

    @include respond(tab-port) {
      padding: 2rem 7rem 2rem 7rem;
    }

    @include respond(phone) {
      padding: 1.5rem 3rem 1.5rem 3rem;
    }

    &--green {
      background-color: $color-consonant1;
      padding: 4rem 12rem 4rem 12rem;

      @include respond(tab-land) {
        padding: 2.5rem 9rem 2.5rem 9rem;
      }

      @include respond(tab-port) {
        padding: 2rem 7rem 2rem 7rem;
      }

      @include respond(phone) {
        padding: 1.5rem 3rem 1.5rem 3rem;
      }
    }

    &--dark {
      background-color: $color-background;
      padding: 4rem 12rem 4rem 12rem;

      @include respond(tab-land) {
        padding: 2.5rem 9rem 2.5rem 9rem;
      }

      @include respond(tab-port) {
        padding: 2rem 7rem 2rem 7rem;
      }

      @include respond(phone) {
        padding: 1.5rem 3rem 1.5rem 3rem;
      }
    }

    &--grey {
      background-color: $color-bg;
      padding: 4rem 12rem 4rem 12rem;

      @include respond(tab-land) {
        padding: 2.5rem 9rem 2.5rem 9rem;
      }

      @include respond(tab-port) {
        padding: 2rem 7rem 2rem 7rem;
      }

      @include respond(phone) {
        padding: 1.5rem 3rem 1.5rem 3rem;
      }
    }
  }

  /////// Headings

  &__h1-onColorGreen {
    text-transform: uppercase;
    font: 3rem Quicksand;
    font-weight: 700;
    color: $color-background;
    margin-bottom: 3rem;
    transition: all 0.2s;

    &:hover {
      transform: skewY(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }

    @include respond(tab-land) {
      line-height: 4rem;
    }

    @include respond(tab-port) {
      line-height: 3.5rem;
    }

    @include respond(phone) {
      line-height: 3rem;
      margin-bottom: 2rem;
    }
  }

  &__h1-onColorWhite {
    text-transform: uppercase;
    font: 3rem Quicksand;
    font-weight: 700;
    margin-bottom: 3rem;
    transition: all 0.2s;

    &:hover {
      color: $color-background;
      transform: skewY(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }

    @include respond(tab-land) {
      line-height: 4.5rem;
    }

    @include respond(tab-port) {
      line-height: 4.5rem;
    }

    @include respond(phone) {
      line-height: 4rem;
      margin-bottom: 2rem;
    }
  }

  &__h1-onColorDark {
    text-transform: capitalize;
    font: 3rem Quicksand;
    font-weight: 700;
    color: $color-consonant2;
    margin-bottom: 3rem;
    transition: all 0.2s;

    &:hover {
      color: $color-consonant1;
      transform: skewY(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }

    @include respond(tab-land) {
      line-height: 4.5rem;
    }

    @include respond(tab-port) {
      line-height: 4.5rem;
    }

    @include respond(phone) {
      line-height: 4rem;
      margin-bottom: 2rem;
    }
  }

  &__h1-child {
    font-size: 2.5rem;
    color: $color-heading;
    margin-bottom: 3rem;
    transition: all 0.2s;

    &:hover {
      transform: skewY(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }

    @include respond(tab-land) {
      line-height: 4.5rem;
    }

    @include respond(tab-port) {
      line-height: 4.5rem;
    }

    @include respond(phone) {
      line-height: 4rem;
      margin-bottom: 2rem;
    }
  }

  &__h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: $color-subheading;
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include respond(tab-land) {
      line-height: 4rem;
    }

    @include respond(tab-port) {
      line-height: 3.5rem;
    }

    @include respond(phone) {
      line-height: 3rem;
      margin-bottom: 0.5rem;
    }

    &--par {
      font-size: 2.2rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      @include respond(tab-land) {
        line-height: 4rem;
      }

      @include respond(tab-port) {
        line-height: 3.5rem;
      }

      @include respond(phone) {
        line-height: 3rem;
        margin-bottom: 0.5rem;
      }
    }

    &--ipa {
      font-size: 2.5rem;
      text-align: center;
      color: $color-consonant1;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  /////// Main Paragraphs

  &__par {
    font-size: 2.2rem;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    @include respond(tab-port) {
      line-height: 3.5rem;
    }

    @include respond(phone) {
      line-height: 3.3rem;
    }
  }

  /////// Main Images and Ads Images

  &__img {
    width: 20rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &--ads {
      width: 80rem;
      height: auto;
      margin-top: 5rem;
      margin-bottom: 2rem;

      @include respond(phone) {
        width: 40rem;
        margin-top: 2rem;
      }
    }
  }
}

///////////////////////////////////////////////////////
/////// List Styling

.ul-darkBg {
  list-style-type: none;

  &__li {
    color: $color-bg;
    font-size: 2.2rem;
  }

  &__li::before {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 0.7rem;
    background-color: $color-consonant2;
  }

  @include respond(tab-port) {
    line-height: 3.5rem;
  }

  @include respond(phone) {
    line-height: 3.3rem;
  }
}

.ul-greenBg {
  list-style-type: none;

  &__li {
    font-size: 2.2rem;
  }

  @include respond(tab-port) {
    line-height: 3.5rem;
  }

  @include respond(phone) {
    line-height: 3.3rem;
  }
}

.ul-whiteBg {
  list-style-type: none;

  &__li {
    font-size: 2.2rem;
  }

  &__li::before {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 0.7rem;
    background-color: $color-subheading;
  }

  @include respond(tab-port) {
    line-height: 3.5rem;
  }

  @include respond(phone) {
    line-height: 3.3rem;
  }
}

///////////////////////////////////////////////////////
/////// Table Styling (chapter 4)

.table {
  font-size: 2.2rem;
  text-align: center;
  color: $color-bg;
  border: 2px solid $color-ipa;

  &__th {
    padding: 1rem;
    font-size: 2.5rem;
    border-bottom: 1px solid $color-ipa;

    &:not(:last-child) {
      border-right: 1px solid $color-ipa;
    }
  }

  &__td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid $color-ipa;

    &:not(:last-child) {
      border-right: 1px solid $color-ipa;
    }
  }

  @include respond(tab-port) {
    line-height: 3.5rem;
  }

  @include respond(phone) {
    line-height: 3.3rem;
  }
}

///////////////////////////////////////////////////////
/////// Fancy Table Styling (chapter 4)

.fancy-table {
  font-size: 2.2rem;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

  &__cell {
    background-color: $color-consonant1;
    padding: 1.5rem 5rem 1.5rem 5rem;
    text-align: left;

    @include respond(phone) {
      padding: 1.5rem 2rem 1.5rem 2rem;
    }

    &:not(:last-child) {
      margin-right: 5rem;

      @include respond(tab-port) {
        margin-right: 2rem;
      }

      @include respond(phone) {
        margin-right: 1rem;
      }
    }

    &--header {
      font-size: 2.5rem;
    }
  }

  @include respond(tab-port) {
    line-height: 3.5rem;
  }

  @include respond(phone) {
    line-height: 3.3rem;
  }
}

///////////////////////////////////////////////////////
/////// simple Table Styling (chapter 4)

.simple-table {
  font-size: 2.2rem;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
  display: flex;

  &__cell {
    padding: 1.5rem;

    &--header {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }

  @include respond(tab-port) {
    line-height: 3.5rem;
  }

  @include respond(phone) {
    line-height: 3.3rem;
  }
}

///////////////////////////////////////////////////////
/////// Chapter (number/title) Styling

.chapter {
  text-align: center;
  background-color: $color-consonant2;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  text-transform: uppercase;
  color: $color-background;

  &__number {
    font: 5rem Quicksand;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__title {
    padding-left: 35rem;
    padding-right: 35rem;
    font: 1.5rem Quicksand;
    font-weight: 700;

    @include respond(tab-land) {
      padding-left: 30rem;
      padding-right: 30rem;
    }

    @include respond(phone) {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
}

///////////////////////////////////////////////////////
/////// "Thanks for Reading" Styling

.thanks4reading {
  font-size: 3rem;
  display: inline-block;
  padding: 2rem;
  background-color: $color-consonant1;
  border-radius: 1rem;
  animation: thanks 5s linear 2s infinite alternate;

  @include respond(tab-port) {
    line-height: 3.5rem;
  }

  @include respond(phone) {
    line-height: 3.3rem;
  }
}

@keyframes thanks {
  0% {
    background-color: $color-consonant2;
  }
  25% {
    background-color: $color-ipa;
  }
  50% {
    background-color: $color-subheading;
  }
  75% {
    background-color: $color-heading;
  }
  100% {
    background-color: $color-background;
  }
}
