// Colors
$color-black: #000000; // black
$color-white: aliceblue; // white
$color-diphthong: #d24a99; // diphthong
$color-consonant1: #44bf99; // consonant1
$color-consonant2: #44bcb9; // consonant2
$color-bg: #dcdcdc; // baclground
$color-background: #31302e; // background
$color-heading: #707070; // heading
$color-subheading: #a86551; // subheading
$color-ipa: #db6037; // ipa

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
