@import '../../scss/vars';
@import '../../scss/mixins';

h1,
h2 {
  font: 3.5rem 'Varela Round';
  margin-bottom: 3rem;
  transition: all 0.2s;

  &:hover {
    color: $color-background;
    transform: skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  @include respond(phone) {
    line-height: 4rem;
  }
}

p {
  margin-bottom: 3rem;
  font-size: 2rem;

  @include respond(tab-port) {
    line-height: 3.5rem;
  }

  @include respond(phone) {
    line-height: 3rem;
  }
}

a {
  text-decoration: none;
  color: $color-consonant1;

  &:hover {
    color: $color-ipa;
  }
}

li {
  @include respond(tab-port) {
    line-height: 3rem;
  }

  @include respond(phone) {
    line-height: 2.5rem;
  }
}

// All contents are wrapped into one container
.wrapper {
  background-color: $color-bg;
  color: $color-heading;
  text-align: center;
  padding-bottom: 10rem;

  @include respond(phone) {
    padding-bottom: 5rem;
  }

  &__container {
    width: 60%;
    margin: auto;
    padding-top: 5rem;

    @include respond(tab-port) {
      width: 70%;
    }

    @include respond(phone) {
      width: 80%;
    }
  }
}

.book-cover {
  width: 200px;
  height: auto;
  margin-bottom: 3rem;
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    padding: 1.5rem 3.5rem;
    margin-bottom: 3rem;
    border: none;
    border-radius: 10rem;
    background-color: $color-consonant1;
    color: $color-bg;
    transition: all 0.2s;
    cursor: pointer;
    animation: thanks 5s linear 10s infinite alternate;
  }

  &:hover {
    background-color: $color-ipa;
    color: $color-bg;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    animation: none;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.objective {
  text-align: left;
  font-size: 2.2rem;

  &__par {
    margin-top: 1.5rem;
    font-size: 2.2rem;

    @include respond(tab-port) {
      line-height: 3.5rem;
    }

    @include respond(phone) {
      line-height: 3rem;
    }
  }
}

.about-authors {
  text-align: left;
  font-size: 1.5rem;

  &__par {
    margin-top: 1.5rem;
    font-size: 2.2rem;

    @include respond(tab-port) {
      line-height: 3.5rem;
    }

    @include respond(phone) {
      line-height: 3rem;
    }
  }
}

///////////////////////////////////////////////////////
/////// btn animation Styling

@keyframes thanks {
  0% {
    background-color: $color-consonant2;
  }
  25% {
    background-color: $color-ipa;
  }
  50% {
    background-color: $color-subheading;
  }
  75% {
    background-color: $color-heading;
  }
  100% {
    background-color: $color-background;
  }
}
