<h1>Become an Eloquent English Speaker</h1>
<img src="../../assets/images/cover.jpg" alt="book-cover" class="book-cover" />
<p>Free to read under a <a href="#">Creative Commons license</a></p>
<button class="btn">Read 📖</button>
<h2>Objective</h2>
<div class="objective">
  <p class="objective_par">
    The Objective of this book is to help anybody reading it to:
  </p>
  <ul>
    <li>acquire good communication skills in English Language</li>
    <li>
      know how to speak English Language with confidence and clarity, thus
      becoming the best you can be through your speaking power
    </li>
    <li>know and abide by the rules guiding English word pronunciations</li>
    <li>speak with correct diction always</li>
  </ul>
  <p class="objective_par">
    The only thing required of you to use this book is your desire to learn.
  </p>
</div>
<h2>About the Authors</h2>
<div class="about-authors">
  <h3>Kenneth O. Jimmy</h3>
  <p class="about-authors_par">
    A master of the International Phonetic Alphabet system, Kenneth O. Jimmy, is
    the sole Author of the book "<a href="{{ ipaUrlKindle }}" target="blank"
      >Become a Master of English IPA</a
    >." He has enjoyed two years of his carrier as a subject teacher in English
    language. Today, he is a software engineer and designer. Yet his passion for
    phonetics and phonology and his desire to share the knowledge are clearly
    visible.
  </p>
  <h3>Glory Oyinborode</h3>
  <p class="about-authors_par">
    Glory Oyinborode is the founder of “Sound with Ease Phonics/Phonetics and
    Diction Academy”. She is a trainer and a diction instructor and has been in
    the profession for half a decade. She has trained several teachers and
    school owners online/offline on how to speak right and how to teach phonics
    and phonetics more effectively.
  </p>
</div>
