@import "../../scss/vars";

h1,
h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

// Wrap all the contents in one. Add to enable some more gap between the top nav and content
.wrapper {
  margin-top: 4rem;
}

.book-cover {
  width: 200px;
  height: auto;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: $color-consonant1;

  &:hover {
    color: $color-ipa;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    padding: 1rem 3rem;
    margin-bottom: 2rem;

    border-radius: 10rem;
    border: 1px solid $color-heading;
    background-color: $color-bg;
    color: $color-heading;
    transition: all 0.2s;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-heading;
    color: $color-bg;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.objective {
  text-align: left;
  font-size: 1.5rem;

  &__par {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.about-authors {
  text-align: left;
  font-size: 1.5rem;

  &__par {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
